*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: red;
}

/* header */
header{
  height: 100px;
  background-color: #fffefe;
}

#logo-img{
  margin: 10px 20px;
  height: 80%;
  line-height: 100px;
  vertical-align: middle;
}

h1{
  display: inline-block;
  vertical-align: middle;
  font-size: 4em;
  
}