*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f7f8fa;
}

/* .container{
  width: 80%;
  margin: auto;
  background-color: #fffefe; */

}

/* header */
header{
  border-bottom: 1px solid #fffefe;
  height: 100px;
  background-color: #fffefe;
}

#logo-img{
  margin: 10px 20px;
  height: 80%;
  line-height: 100px;
  vertical-align: middle;
}

h1{
  display: inline-block;
  vertical-align: middle;
  font-size: 4em;
}

/* main */
.sec-header{
  width: 80%;
  margin: auto;
  background-color: #fffefe;
}
