*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f7f8fa;
}

.container{
  width: 80%;
  margin: auto;
  background-color: #fffefe;

}

/* header */
header{
  margin-bottom: 60px;
  border-bottom: 1px solid #fffefe;
  height: 100px;
  background-color: #fffefe;
}

#logo-img{
  margin: 10px 20px;
  height: 80%;
  line-height: 100px;
  vertical-align: middle;
}

h1{
  display: inline-block;
  vertical-align: middle;
  font-size: 4em;
}

/* main */
/* header sec */
.sec-header{
  height: 70px;
  border: 1px solid #f7f8fa;
  border-radius: 10px 10px 0px 0px;
}

.header-butt-blue, .header-butt-white{
  padding: 7px;
  border-radius: 15px;
  border-color: #abe3f4;
}
/* buttons */
.header-butt-white{
  background-color: #fffefe;
  color: #dadddd;
  border-color: #dadddd;
  width: 15%;
}
.header-butt-blue{
  background-color: #15aaf6;
  color: #fffefe;
  width: 13%;
}

.align-butt{
  margin: 20px 0px 5px 60px;
}
/* /button */

/* sec main */
.sec-main{
  background-color: #fffefe;
  height: 100%;
}
