*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: red;
}

/* header */
header{
  height: 100px;
  background-color: white;
}

#logo-img{
  margin: 10px 20px;
  height: 80%;
}

h1{
  display: inline-block;
  
}