*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f7f8fa;
  width: 1200px;
  margin: auto;
}

.container{
  width: 80%;
  margin: auto;
  background-color: #f7f8fa;

}

/* header */
header{
  margin-bottom: 60px;
  border-bottom: 1px solid #fffefe;
  height: 100px;
  background-color: #fffefe;
}

#logo-img{
  margin: 10px 20px;
  height: 80%;
  line-height: 100px;
  vertical-align: middle;
}

h1{
  display: inline-block;
  vertical-align: middle;
  font-size: 4em;
}

/* main */
/* header sec */
.sec-header{
  background-color: #fffefe;
  height: 70px;
  border: 1px solid #f7f8fa;
  border-radius: 10px 10px 0px 0px;
}

.header-butt-blue, .header-butt-white{
  padding: 7px;
  border-radius: 15px;
  border-color: #abe3f4;
}
/* buttons */
.header-butt-white{
  background-color: #fffefe;
  color: #dadddd;
  border-color: #dadddd;
  width: 15%;
}
.header-butt-blue{
  background-color: #15aaf6;
  color: #fffefe;
  width: 13%;
}

.align-butt{
  margin: 20px 0px 5px 60px;
}
/* /button */
/* /header sec */

/* sec main */
.sec-main{
  background-color: #fffefe;
  border: 1px solid #f7f8fa;
  border-top: 5px solid #f7f8fa;
  border-radius: 0px 0px 10px 10px;
  height: 900px;
}

.New-Task, .today, .upcoming{
  margin: 50px 55px;
  font-weight: bold;
  font-size: 1em;
}
/* unordered list */
ul{
  list-style-type: none;
  margin-left: 9px;
  display: inline;
}
li{
  font-size: 1em;
  font-weight: 100;
  padding: 15px;
}

/* tags della lista */

/* editorial */
.edit-tag{
  color: white;
  background-color: #15aaf6;
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
}
/* Q1 Goals */
.q-tag{
  color:white;
  background-color: #9d72e5;
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
}
/* recruiting  */
.recr-tag{
  color: white;
  background-color: #64c1a8;
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
}
/* mobile */
.mob-tag{
  color: white;
  background-color: #f39e32;
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
}
/* website */
.web-tag{
  color: white;
  background-color: #d963a0;
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
}
/* sales */
.sales-tag{
  color:white;
  background-color:lightgreen;
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
}
/* /fine tag della lista */